.formulario {
  width: 600px;
  height: auto;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.linha {
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto
}

.titulo {
  text-align: center;
  font-size: 25px;
}

.unidade {
  flex-direction: column;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 10px;
  align-items: center;
}

.unidade label {
  padding: 10px;
}

.unidade select {

  width: 400px;
  height: 30px;
  margin: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.pessoas {
  flex-direction: column;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 10px;
  align-items: center;
}

.pessoas label {
  padding: 10px;
  text-align: center; 

}

.pessoas select {

  width: 240px;
  height: 30px;
  margin: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.data {
  flex-direction: column;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 10px;
  align-items: center;
}

.data label {
  padding: 10px;
}

input[type="date"],
input[type="time"] {

  width: 105px;
  flex-direction: column;
  height: 30px;
  margin: 10px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.mesa {
  flex-direction: column;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 10px;
  align-items: center;
}

.mesa label {
  padding: 10px;
}

.options label{
  font-size: 15px;

}

.unidade select {

  width: 400px;
  height: 30px;
  margin: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  justify-items: center;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.mensagem p{
 color: red;
 font-size: 13px;
text-align: center; 
}

.botao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.botao-agendar {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #6f6f6f;
  border-radius: 5px;
  background-color: #6f6f6f;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.botao-agendar:hover {
  background-color: #333;
  border-color: #333;
  color: #fff;
}



@media only screen and (max-width: 960px){
  .formulario {
    width: 600px;
    height: auto;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .linha {
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto
  }
  
  .titulo {
    text-align: center;
    font-size: 25px;
  }
  
  .unidade {
    flex-direction: column;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
    align-items: center;
  }
  
  .unidade label {
    padding: 10px;
  }
  
  .unidade select {
  
    width: 400px;
    height: 30px;
    margin: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  }
  
  .pessoas {
    flex-direction: column;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
    align-items: center;
  }
  
  .pessoas label {
    padding: 10px;
    text-align: center; 
  
  }
  
  .pessoas select {
  
    width: 240px;
    height: 30px;
    margin: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  }
  
  .data {
    flex-direction: column;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
    align-items: center;
  }
  
  .data label {
    padding: 10px;
  }
  
  input[type="date"],
  input[type="time"] {
  
    width: 105px;
    flex-direction: column;
    height: 30px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  }
  
  .mesa {
    flex-direction: column;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
    align-items: center;
  }
  
  .mesa label {
    padding: 10px;
  }
  
  .options label{
    font-size: 15px;
  
  }
  
  .unidade select {
  
    width: 400px;
    height: 30px;
    margin: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  }
  
  .mensagem p{
   color: red;
   font-size: 13px;
  text-align: center; 
  }
  
  .botao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }
  
  .botao-agendar {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #6f6f6f;
    border-radius: 5px;
    background-color: #6f6f6f;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .botao-agendar:hover {
    background-color: #333;
    border-color: #333;
    color: #fff;
  }
} 