.titulo{
    margin-top: 2.5rem;
    font-size: 32px;
}

.caixa{
    width: 400px;
    padding-top: 50px;
}

@media only screen and (max-width: 600px){

    
.caixa{
    width: 200px;
    padding-top: 50px;
}

.caixa img{
 width: 200px;
}
}